* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
* a{
    font-family: "Limelight", sans-serif;
    color: #3F403F;
    text-decoration: none;
    
}
* a:hover {
    color: #26bfad
}
body {
   min-height: 500px;
   margin: 10px;
   background-color: #E6E8E6;
   
}

div h1{
    position: relative;
    display: inline;
    margin-left: 5px;
    
}
section {
    margin-top: 25px
}






