.card-body {
    width: clamp(60px, 16vw, 250px);
    aspect-ratio: 2 / 3;
    /* Remove height: 30vh */
    display: inline-block;

    border: .3rem solid black;
    position: relative;
    left: 15%;
    transform: translateX(-50%);
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    font-size: .8rem;
    background-image: linear-gradient(to top, rgba(54, 24, 142, 0.829), rgba(255, 10, 10, 0.724), rgba(0, 0, 225, 0.733));
    margin-left: 3px;
}
.upperLeftText {
    position: absolute;
    top: 5%;
    left: 5%;
}
.middleText {
    position: absolute;
    font-size: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.lowerLeftText {
    position: absolute;
    right: 5%;
    bottom: 5%;
    transform: rotate(180deg);
}
div span {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
}