.navbar {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 40%;
    bottom: 17px;
    
}
.navbar a{
    color: orange;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    
}
.navbar a:hover {
    color: rebeccapurple;
}